<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/goblin.svg" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <table style="width:100%; max-width:800px; border:0; border-spacing:0; border-collapse:separate; margin: 0 auto;">
    <tr>
      <td style="padding:0;">
        <!-- Profile Introduction Section -->
        <div style="background-color: rgba(128, 0, 128, 0.15); border-radius: 10px; padding: 20px; margin: 0 auto; width: fit-content;">
          <table style="width:100%; border:0; border-spacing:0; border-collapse:separate;">
            <tr>
              <td style="padding:2.5%; width:60%; vertical-align:middle;">
                <h1>Dara Varam</h1>
                <p>
                  MS Machine Learning @ <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering">AUS</a>. I did my undergrad here in Computer Engineering and Mathematics with a minor in Data Science. I'm Iranian and I'm 23 years old.
                </p>
                <p>
                  I'm currently a visiting student @ <a href="https://senseable.mit.edu/">MIT Senseable City Lab</a>. I also work as a research & teaching assistant with the Department of Computer Science & Engineering  @ <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering">AUS</a>.
                  
                </p>
                <p>
                  My research focuses mainly on model compression, optimization and quantization for neural networks and LLMs. I have also done studies in training optimization, computer vision, and eXplainable AI.
                </p>
                <p>
                  The picture on the right isn't what I look like now. I just wanted to put it up there so you know I've always been cool &#128122;
                </p>
                <p style="text-align:center;">
                  <a class="float-hover" target="_blank" href="mailto:b00081313@aus.edu"><i class="fa fa-envelope"></i> b00081313@aus.edu</a> &nbsp;|&nbsp;
                  <a class="float-hover" target="_blank" href="mailto:varam@mit.edu"><i class="fa fa-envelope"></i> varam@mit.edu</a>
                </p>

                 <p style="text-align:center;">
                  <a class="float-hover" href="https://www.linkedin.com/in/dara-varam/"><i class="fa fa-linkedin"></i> LinkedIn</a> &nbsp;|&nbsp;
                  <a class="float-hover" href="https://github.com/daravaram"><i class="fa fa-github"></i> GitHub</a> &nbsp;|&nbsp;
                  <a class="float-hover" href="https://www.researchgate.net/profile/Dara-Varam"><i class="fa fa-graduation-cap"></i> ResearchGate</a> &nbsp;|&nbsp;
                  <a class="float-hover" href="https://scholar.google.com/citations?user=7bDpvdYAAAAJ&hl=en&authuser=2"><i class="fa fa-university"></i> Scholar</a>
                </p>
              </td>
              <td style="padding:2.5%; width:40%; max-width:40%; vertical-align:middle;">
                <img class="float-hover" style="width:95%; max-width:100%; border-radius:50%;" alt="profile photo" src="images/profile-picture2.jpg">
              </td>
            </tr>
          </table>
        </div>

        <br>

        <!-- Academic Record Section -->
        <table style="width:100%; max-width:800px; border:0; border-spacing:0; border-collapse:separate; margin: 10px auto;">
          <tr>
            <td style="padding:0;">
              <div class="float-hover" style="background-color: rgba(231, 223, 198, 1); border-radius: 10px; padding: 10px; margin: 0 auto; width: auto;">
                <h2 style="margin: 0 0 10px 0;">Academic Qualifications</h2>
                <!-- Previous Qualifications -->
                <p style="margin: 0 0 10px 0;">
                  <strong>Previous: </strong> BSc. Computer Engineering, BSc. Mathematics &nbsp;|&nbsp;
                  <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering">American University of Sharjah</a> <br>
                  <strong>Current: </strong> MSc. Machine Learning &nbsp;|&nbsp;
                  <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering">American University of Sharjah</a>
                </p>

                <!-- Courses Section -->
                <table style="width:100%; border:0; border-spacing:10px; border-collapse:separate; margin: 0 auto;">
                  <tr>
                    <!-- Completed Courses Box -->
                    <td style="width:50%; vertical-align:top;">
                      <div class="float-hover" style="background-color: rgba(215, 173, 13, 0.5); border-radius: 10px; padding: 5px;">
                        <h3 style="margin: 0 0 5px 0;">Completed Graduate Courses</h3>
                        <ul style="margin: 0; padding-left: 20px;">
                          <li>MLR570 &nbsp;|&nbsp; Advanced Machine Learning</li>
                          <li>MLR555 &nbsp;|&nbsp; Advanced Artificial Intelligence</li>
                          <li>MLR510 &nbsp;|&nbsp; Generative Deep Learning</li>
                          <li>MLR503 &nbsp;|&nbsp; Data Mining & Knowledge Discovery</li>
                          <li>MLR511 &nbsp;|&nbsp; Mobile Application Development With Machine Learning</li>
                          <li>COE69404 &nbsp;|&nbsp; Cyberphysical System Security</li>                  
                        </ul>
                      </div>
                    </td>
                    <!-- Currently Enrolled Courses Box -->
                    <td style="width:50%; vertical-align:top;">
                      <div class="float-hover" style="background-color: rgba(215, 173, 13, 0.5); border-radius: 10px; padding: 5px;">
                        <h3 style="margin: 0 0 5px 0;">Current Graduate Courses</h3>
                        <ul style="margin: 0; padding-left: 20px;">
                          
                        </ul>
                      </div>
                    </td>
                  </tr>
                </table>

                <!-- Theses Section -->
                <div style="margin-top:10px;">
                  <h3 style="margin: 0 0 5px 0;">Machine Learning Thesis</h3>
                  <ul style="list-style: none; padding: 0; margin: 0;">
                    <li style="margin-bottom:5px;">
                      <h4 style="margin: 0 0 3px 0;">Hyperspherical Quantization: A Geometry-Aware Deep Quanization Framework (Advised by: M. I. AlHajri)</h4>
                      <p style="margin: 0;">I work on optimizing quantization for deep neural networks using a geometry-aware approach. I mainly focus on using non-Euclidean geometric structures (hyperspherical manifolds) to encode spatial information into the quantization scheme.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <br>

        <!-- Publications Section (More Compact) -->
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          <tr>
            <td style="padding:1%; width:100%; vertical-align:middle;">
              <h2 style="margin:0 0 5px 0;">Publications</h2>
              <p style="margin:0;">These are papers that have already been published, as reflected on my Google Scholar page (and other venues).</p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 0 auto;">
          <tr>
            <td style="padding:0;"><hr style="margin: 5px 0;"></td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr class="float-hover">
            <td style="padding:1%; width:25%; vertical-align:middle; min-width:120px;">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
            </td>
            <td style="padding:1%; width:75%; vertical-align:middle;">
              <h3 style="margin:0 0 5px 0;">{{post.title}}</h3>
              <p style="margin:0;">{{post.authors}}<br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}<br>
              {% if post.arxiv %}[<a class="float-hover" href="{{ post.arxiv }}"><i class="fa fa-archive"></i> arxiv</a>]{% endif %}
              {% if post.code %}[<a class="float-hover" href="{{ post.code }}"><i class="fa fa-code"></i> code</a>]{% endif %}
              {% if post.video %}[<a class="float-hover" href="{{ post.video }}"><i class="fa fa-video-camera"></i> Video</a>]{% endif %}
              {% if post.paper %}[<a class="float-hover" href="{{ post.paper }}"><i class="fa fa-file-text"></i> Paper</a>]{% endif %}
              {% if post.poster %}[<a class="float-hover" href="{{ post.poster }}"><i class="fa fa-image"></i> Poster</a>]{% endif %}
              {% if post.slides %}[<a class="float-hover" href="{{ post.slides }}"><i class="fa fa-slideshare"></i> Slides</a>]{% endif %}
              {% if post.website %}[<a class="float-hover" href="{{ post.website }}"><i class="fa fa-globe"></i> paper</a>]{% endif %}
              {% if post.youtube %}[<a class="float-hover" href="{{ post.youtube }}"><i class="fa fa-youtube"></i> YouTube</a>]{% endif %}
              {% if post.pdf %}[<a class="float-hover" href="{{ post.pdf }}"><i class="fa fa-file-pdf-o"></i> PDF</a>]{% endif %}</p>
              <p style="margin:0;">{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>

        <!-- Accepted Papers Section (More Compact) -->
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          <tr>
            <td style="padding:1%; width:100%; vertical-align:middle;">
              <h2 style="margin:0 0 5px 0;">Accepted Papers</h2>
              <p style="margin:0;">These are papers that have been accepted for publication, but are not yet up.</p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 0 auto;">
          <tr>
            <td style="padding:0;"><hr style="margin: 5px 0;"></td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'accepted' %}
          <tr class="float-hover">
            <td style="padding:1%; width:25%; vertical-align:middle; min-width:120px;">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
            </td>
            <td style="padding:1%; width:75%; vertical-align:middle;">
              <h3 style="margin:0 0 5px 0;">{{post.title}}</h3>
              <p style="margin:0;">{{post.authors}}<br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}<br>
              {% if post.arxiv %}[<a class="float-hover" href="{{ post.arxiv }}"><i class="fa fa-archive"></i> arxiv</a>]{% endif %}
              {% if post.code %}[<a class="float-hover" href="{{ post.code }}"><i class="fa fa-code"></i> code</a>]{% endif %}
              {% if post.video %}[<a class="float-hover" href="{{ post.video }}"><i class="fa fa-video-camera"></i> Video</a>]{% endif %}
              {% if post.paper %}[<a class="float-hover" href="{{ post.paper }}"><i class="fa fa-file-text"></i> Paper</a>]{% endif %}
              {% if post.poster %}[<a class="float-hover" href="{{ post.poster }}"><i class="fa fa-image"></i> Poster</a>]{% endif %}
              {% if post.slides %}[<a class="float-hover" href="{{ post.slides }}"><i class="fa fa-slideshare"></i> Slides</a>]{% endif %}
              {% if post.website %}[<a class="float-hover" href="{{ post.website }}"><i class="fa fa-globe"></i> paper</a>]{% endif %}
              {% if post.youtube %}[<a class="float-hover" href="{{ post.youtube }}"><i class="fa fa-youtube"></i> YouTube</a>]{% endif %}
              {% if post.pdf %}[<a class="float-hover" href="{{ post.pdf }}"><i class="fa fa-file-pdf-o"></i> PDF</a>]{% endif %}</p>
              <p style="margin:0;">{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>

        <!-- Submitted Papers Section (More Compact) -->
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          <tr>
            <td style="padding:1%; width:100%; vertical-align:middle;">
              <h2 style="margin:0 0 5px 0;">Submitted Papers</h2>
              <p style="margin:0;">These are papers that have been submitted for publication, but have not yet been released.</p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 0 auto;">
          <tr>
            <td style="padding:0;"><hr style="margin: 5px 0;"></td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'submitted' %}
          <tr class="float-hover">
            <td style="padding:1%; width:25%; vertical-align:middle; min-width:120px;">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
            </td>
            <td style="padding:1%; width:75%; vertical-align:middle;">
              <h3 style="margin:0 0 5px 0;">{{post.title}}</h3>
              <p style="margin:0;">{{post.authors}}<br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}<br>
              {% if post.arxiv %}[<a class="float-hover" href="{{ post.arxiv }}"><i class="fa fa-archive"></i> arxiv</a>]{% endif %}
              {% if post.code %}[<a class="float-hover" href="{{ post.code }}"><i class="fa fa-code"></i> code</a>]{% endif %}
              {% if post.video %}[<a class="float-hover" href="{{ post.video }}"><i class="fa fa-video-camera"></i> Video</a>]{% endif %}
              {% if post.paper %}[<a class="float-hover" href="{{ post.paper }}"><i class="fa fa-file-text"></i> Paper</a>]{% endif %}
              {% if post.poster %}[<a class="float-hover" href="{{ post.poster }}"><i class="fa fa-image"></i> Poster</a>]{% endif %}
              {% if post.slides %}[<a class="float-hover" href="{{ post.slides }}"><i class="fa fa-slideshare"></i> Slides</a>]{% endif %}
              {% if post.website %}[<a class="float-hover" href="{{ post.website }}"><i class="fa fa-globe"></i> paper</a>]{% endif %}
              {% if post.youtube %}[<a class="float-hover" href="{{ post.youtube }}"><i class="fa fa-youtube"></i> YouTube</a>]{% endif %}
              {% if post.pdf %}[<a class="float-hover" href="{{ post.pdf }}"><i class="fa fa-file-pdf-o"></i> PDF</a>]{% endif %}</p>
              <p style="margin:0;">{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>

        <!-- Research Projects Section -->
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          <tr>
            <td style="padding:1%; width:100%; vertical-align:middle;">
              <h2 style="margin:0 0 5px 0;">Research Projects</h2>
              <p style="margin:0;">This includes other projects that I am currently working on, which have not yet been submitted or published anywhere.</p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 0 auto;">
          <tr>
            <td style="padding:0;"><hr style="margin: 5px 0;"></td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'other' %}
          <tr class="float-hover">
            <td style="padding:1%; width:25%; vertical-align:middle; min-width:120px;">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
            </td>
            <td style="padding:1%; width:75%; vertical-align:middle;">
              <h3 style="margin:0 0 5px 0;">{{post.title}}</h3>
              <p style="margin:0;">{{post.authors}}<br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}<br>
              {% if post.arxiv %}[<a class="float-hover" href="{{ post.arxiv }}"><i class="fa fa-archive"></i> arxiv</a>]{% endif %}
              {% if post.code %}[<a class="float-hover" href="{{ post.code }}"><i class="fa fa-code"></i> code</a>]{% endif %}
              {% if post.video %}[<a class="float-hover" href="{{ post.video }}"><i class="fa fa-video-camera"></i> Video</a>]{% endif %}
              {% if post.paper %}[<a class="float-hover" href="{{ post.paper }}"><i class="fa fa-file-text"></i> Paper</a>]{% endif %}
              {% if post.poster %}[<a class="float-hover" href="{{ post.poster }}"><i class="fa fa-image"></i> Poster</a>]{% endif %}
              {% if post.slides %}[<a class="float-hover" href="{{ post.slides }}"><i class="fa fa-slideshare"></i> Slides</a>]{% endif %}
              {% if post.website %}[<a class="float-hover" href="{{ post.website }}"><i class="fa fa-globe"></i> paper</a>]{% endif %}
              {% if post.youtube %}[<a class="float-hover" href="{{ post.youtube }}"><i class="fa fa-youtube"></i> YouTube</a>]{% endif %}
              {% if post.pdf %}[<a class="float-hover" href="{{ post.pdf }}"><i class="fa fa-file-pdf-o"></i> PDF</a>]{% endif %}</p>
              <p style="margin:0;">{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>

        <br>

        <!-- Presentations Section (More Compact) -->
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          <tr>
            <td style="padding:1%; width:100%; vertical-align:middle;">
              <h2 style="margin:0 0 5px 0;">Presentations, Features</h2>
              <p style="margin:0;">Includes presentations conducted online and in-person, and other miscellaneous academic things I've been featured in.</p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 0 auto;">
          <tr>
            <td style="padding:0;"><hr style="margin: 5px 0;"></td>
          </tr>
        </table>
        <table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Presentation' %}
          <tr class="float-hover">
            <td style="padding:1%; width:25%; vertical-align:middle; min-width:120px;">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
            </td>
            <td style="padding:1%; width:75%; vertical-align:middle;">
              <h3 style="margin:0 0 5px 0;">{{post.title}}</h3>
              <p style="margin:0;">{{post.authors}}<br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}<br>
              {% if post.arxiv %}[<a class="float-hover" href="{{ post.arxiv }}"><i class="fa fa-archive"></i> arxiv</a>]{% endif %}
              {% if post.code %}[<a class="float-hover" href="{{ post.code }}"><i class="fa fa-code"></i> code</a>]{% endif %}
              {% if post.video %}[<a class="float-hover" href="{{ post.video }}"><i class="fa fa-video-camera"></i> Video</a>]{% endif %}
              {% if post.paper %}[<a class="float-hover" href="{{ post.paper }}"><i class="fa fa-file-text"></i> Paper</a>]{% endif %}
              {% if post.poster %}[<a class="float-hover" href="{{ post.poster }}"><i class="fa fa-image"></i> Poster</a>]{% endif %}
              {% if post.slides %}[<a class="float-hover" href="{{ post.slides }}"><i class="fa fa-slideshare"></i> Slides</a>]{% endif %}
              {% if post.website %}[<a class="float-hover" href="{{ post.website }}"><i class="fa fa-globe"></i> paper</a>]{% endif %}
              {% if post.youtube %}[<a class="float-hover" href="{{ post.youtube }}"><i class="fa fa-youtube"></i> YouTube</a>]{% endif %}
              {% if post.pdf %}[<a class="float-hover" href="{{ post.pdf }}"><i class="fa fa-file-pdf-o"></i> PDF</a>]{% endif %}</p>
              <p style="margin:0;">{{ post.excerpt }}</p>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>

        <!-- Miscellanea Section (More Compact) -->
<table style="width:100%; margin:0 auto; border:0; border-spacing:0; padding:8px;">
  <tbody>
    <tr>
      <td>
        <h2 style="margin:0;">Miscellanea</h2>
      </td>
    </tr>
  </tbody>
</table>
<div class="misc-card">
  <h3 style="margin-top:0; color:#3a1c71;">Teaching Assistantships</h3>
  <ul style="margin-bottom:0;">
    <li><strong>Software:</strong> CMP120 – Programming I, CMP220 – Programming II, CMP305 – Data Structures & Algorithms, CMP321 – Programming Languages</li>
    <li><strong>Hardware:</strong> COE425 – Modern Computer Organization</li>
  </ul>
</div>
<div class="misc-card">
  <h3 style="margin-top:0; color:#3a1c71;">Awards & Honors</h3>
  <ul style="margin-bottom:0;">
    <li>2nd place at the AUS College of Engineering senior design projects competition</li>
    <li>Full scholarship for undergraduate studies awarded by Ministry of Presidential Affairs, UAE</li>
    <li>Member of the <a href="https://hkn.ieee.org/">IEEE-Eta Kappu Nu</a> Honors Society</li>
  </ul>
</div>
<div class="misc-card">
  <h3 style="margin-top:0; color:#3a1c71;">Visitor Map</h3>
  <script
    type="text/javascript"
    id="clustrmaps"
    src="//clustrmaps.com/map_v2.js?d=jtbmukWWXKhcIy6VJ0sPL32ZngLonG3uCCTt6HnqkxI&cl=ffffff&w=160">
  </script>
</div>

  </tbody>
</table>
<hr style="margin: 5px 0;">
<table style="width:100%; border:0; border-spacing:0; border-collapse:separate; margin: 5px auto;">
  <tr>
    <td style="padding:0;">
      <p style="text-align:center; font-size:small; margin:0;">
        Design and source code from <a href="https://leonidk.com/">Leonid Keselman</a>'s <a href="https://github.com/leonidk/new_website">Jekyll fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>.
      </p>
    </td>
  </tr>
</table>

      </td>
    </tr>
  </table>
</body>

</html>
