<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/goblin.svg" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px;">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px; background-color: rgba(128, 0, 128, 0.15); border-radius: 10px; padding: 20px; margin: 0 auto; width: fit-content;">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
              Dara Varam
            </h1>
            <p>
              MS Machine Learning @ <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering"> AUS</a>. I did my undergrad here in Computer Engineering and Mathematics with a minor in Data Science. I'm Iranian and I'm 23 years old. 
            </p>
            <p>
              I currently work as a research and teaching assistant in the department of Computer Science & Engineering. My research focuses mainly on model compression, optimization and quantization for neural networks and LLMs. I have also done studies in training optimization, computer vision, and eXplainable AI. 
            </p>

            <p>
              The picture on the right isn't what I look like now. I just wanted to put it up there so you know I've always been cool &#128122;
            </p>
                
              <p style="text-align:center">
              <a target="_blank" href="mailto:b00081313@aus.edu">Email</a> &nbsp;|&nbsp;
              <a href="https://www.linkedin.com/in/dara-varam/">LinkedIn</a> &nbsp;|&nbsp;
              <a href="https://github.com/daravaram">GitHub</a> &nbsp;|&nbsp;
              <a href="https://www.researchgate.net/profile/Dara-Varam">ResearchGate</a> &nbsp;|&nbsp;
              <a href="https://scholar.google.com/citations?user=7bDpvdYAAAAJ&hl=en&authuser=2">Scholar</a>
            </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:95%;max-width:100%;border-radius:50%;" alt="profile photo" src="images/profile-picture2.jpg">
            </td>
          </tr>
        </table>

	<br>
	<!-- Academic Record Section -->
        <table style="width:100%; max-width:800px; border:0; border-spacing:0; border-collapse:separate; margin: 10px auto;">
          <tr>
            <td style="padding:0;">
              <div style="background-color: rgba(231, 223, 198, 1); border-radius: 10px; padding: 10px; margin: 0 auto; width: auto;">
                <h2 style="margin: 0 0 10px 0;">Academic Qualifications</h2>
                <!-- Previous Qualifications -->
                <p style="margin: 0 0 10px 0;">
                  <strong>Previous: </strong> BSc. Computer Engineering, BSc. Mathematics &nbsp;|&nbsp;
                  <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering">American University of Sharjah</a> &nbsp;|&nbsp; <br>
                  <strong>Current: </strong> MSc. Machine Learning &nbsp;|&nbsp;
                  <a href="https://www.aus.edu/cen/department-of-computer-science-and-engineering">American University of Sharjah</a>
                </p>
                
                <!-- Courses Section -->
                <table style="width:100%; border:0; border-spacing:10px; border-collapse:separate; margin: 0 auto;">
                  <tr>
                    <!-- Completed Courses Box -->
                    <td style="width:50%; vertical-align:top;">
                      <div style="background-color: rgba(215, 173, 13, 0.5); border-radius: 10px; padding: 5px;">
                        <h3 style="margin: 0 0 5px 0;">Completed Graduate Courses</h3>
                        <ul style="margin: 0; padding-left: 20px;">
                          <li>MLR570 &nbsp;|&nbsp; Advanced Machine Learning</li>
                          <li>MLR503 &nbsp;|&nbsp; Data Mining & Knowledge Discovery</li>
                          <li>MLR511 &nbsp;|&nbsp; Mobile Application Development With Machine Learning</li>
                          <li>COE69404 &nbsp;|&nbsp; Cyberphysical System Security</li>
                        </ul>
                      </div>
                    </td>
                    <!-- Currently Enrolled Courses Box -->
                    <td style="width:50%; vertical-align:top;">
                      <div style="background-color: rgba(215, 173, 13, 0.5); border-radius: 10px; padding: 5px;">
                        <h3 style="margin: 0 0 5px 0;">Current Graduate Courses</h3>
                        <ul style="margin: 0; padding-left: 20px;">
                          <li>MLR555 &nbsp;|&nbsp; Advanced Artificial Intelligence</li>
                          <li>MLR510 &nbsp;|&nbsp; Generative Deep Learning</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </table>
                
                <!-- Theses Section -->
                <div style="margin-top:10px;">
                  <h3 style="margin: 0 0 5px 0;">Machine Learning Thesis</h3>
                  <ul style="list-style: none; padding: 0; margin: 0;">
                    <li style="margin-bottom:5px;">
                      <h4 style="margin: 0 0 3px 0;">Hyperspherical Quantization: A Geometry-Aware Deep Quanization Framework</h4>
                      <p style="margin: 0;">I work on optimizing quantization for deep neural networks using a geometry-aware approach. I mainly focus on using non-Euclidean geometric structures (hyperspherical manifolds) to encode spatial information into the quantization scheme.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </table>
	<br>
  
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <p> These are papers that have already been published, as reflected on my Google Scholar page (and other venues).
              </p>
            </td>
          </tr>
        </table>
       
        <!-- The <hr> line now appears immediately after the Publications heading -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <hr>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              [<a href="{{ post.arxiv }}">arxiv</a>]
              {% endif %}
              {% if post.code %}
              [<a href="{{ post.code }}">Code</a>]
              {% endif %}
              {% if post.video %}
              [<a href="{{ post.video }}">Video</a>]
              {% endif %}
              {% if post.paper %}
              [<a href="{{ post.paper }}">Paper</a>]
              {% endif %}
              {% if post.poster %}
              [<a href="{{ post.poster }}">Poster</a>]
              {% endif %}
              {% if post.slides %}
              [<a href="{{ post.slides }}">Slides</a>]
              {% endif %}
              {% if post.website %}
              [<a href="{{ post.website }}">Webpage</a>]
              {% endif %}
              {% if post.youtube %}
              [<a href="{{ post.youtube }}">YouTube</a>]
              {% endif %}
              {% if post.pdf %}
              [<a href="{{ post.pdf }}">PDF</a>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
     
        <br>
        <br>

	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Accepted Papers</h2>
              <p> These are papers that have been accepted for publication, but are not yet up.
              </p>
            </td>
          </tr>
        </table>
       
        <!-- The <hr> line now appears immediately after the Publications heading -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <hr>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'accepted' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              [<a href="{{ post.arxiv }}">arxiv</a>]
              {% endif %}
              {% if post.code %}
              [<a href="{{ post.code }}">Code</a>]
              {% endif %}
              {% if post.video %}
              [<a href="{{ post.video }}">Video</a>]
              {% endif %}
              {% if post.paper %}
              [<a href="{{ post.paper }}">Paper</a>]
              {% endif %}
              {% if post.poster %}
              [<a href="{{ post.poster }}">Poster</a>]
              {% endif %}
              {% if post.slides %}
              [<a href="{{ post.slides }}">Slides</a>]
              {% endif %}
              {% if post.website %}
              [<a href="{{ post.website }}">Webpage</a>]
              {% endif %}
              {% if post.youtube %}
              [<a href="{{ post.youtube }}">YouTube</a>]
              {% endif %}
              {% if post.pdf %}
              [<a href="{{ post.pdf }}">PDF</a>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
     
        <br>
        <br>

        <!-- Submitted Papers Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Submitted Papers</h2>
              <p>These are papers that have been submitted for publication, but have not yet been released.</p>
            </td>
          </tr>
        </table>
        
        <!-- Horizontal line below the section title -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <hr>
            </td>
          </tr>
        </table>
        
               <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'submitted' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              [<a href="{{ post.arxiv }}">arxiv</a>]
              {% endif %}
              {% if post.code %}
              [<a href="{{ post.code }}">Code</a>]
              {% endif %}
              {% if post.video %}
              [<a href="{{ post.video }}">Video</a>]
              {% endif %}
              {% if post.paper %}
              [<a href="{{ post.paper }}">Paper</a>]
              {% endif %}
              {% if post.poster %}
              [<a href="{{ post.poster }}">Poster</a>]
              {% endif %}
              {% if post.slides %}
              [<a href="{{ post.slides }}">Slides</a>]
              {% endif %}
              {% if post.website %}
              [<a href="{{ post.website }}">Webpage</a>]
              {% endif %}
              {% if post.youtube %}
              [<a href="{{ post.youtube }}">YouTube</a>]
              {% endif %}
              {% if post.pdf %}
              [<a href="{{ post.pdf }}">PDF</a>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>



        
        <br>
        <br>

	
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Projects</h2>
              <p> This includes other projects that I am currently working on, which have not yet been submitted or published anywhere. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'other' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.arxiv %}
              [<a href="{{ post.arxiv }}">arxiv</a>]
              {% endif %}
              {% if post.code %}
              [<a href="{{ post.code }}">Code</a>]
              {% endif %}
              {% if post.video %}
              [<a href="{{ post.video }}">Video</a>]
              {% endif %}
              {% if post.paper %}
              [<a href="{{ post.paper }}">Paper</a>]
              {% endif %}
              {% if post.poster %}
              [<a href="{{ post.poster }}">Poster</a>]
              {% endif %}
              {% if post.slides %}
              [<a href="{{ post.slides }}">Slides</a>]
              {% endif %}
              {% if post.website %}
              [<a href="{{ post.website }}">Webpage</a>]
              {% endif %}
              {% if post.youtube %}
              [<a href="{{ post.youtube }}">YouTube</a>]
              {% endif %}
              {% if post.pdf %}
              [<a href="{{ post.pdf }}">PDF</a>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

	<br>
        <br>
        

        <!-- Presentations Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Presentations, Features</h2>
              <p>Includes presentations conducted online and in-person, and other miscellaneous academic things I've been featured in. </p>
            </td>
          </tr>
        </table>
        
        <!-- Horizontal line below the section title -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <hr>
            </td>
          </tr>
        </table>
        
               <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Presentation' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              [<a href="{{ post.arxiv }}">arxiv</a>]
              {% endif %}
              {% if post.code %}
              [<a href="{{ post.code }}">Code</a>]
              {% endif %}
              {% if post.video %}
              [<a href="{{ post.video }}">Video</a>]
              {% endif %}
              {% if post.paper %}
              [<a href="{{ post.paper }}">Paper</a>]
              {% endif %}
              {% if post.poster %}
              [<a href="{{ post.poster }}">Poster</a>]
              {% endif %}
              {% if post.slides %}
              [<a href="{{ post.slides }}">Slides</a>]
              {% endif %}
              {% if post.website %}
              [<a href="{{ post.website }}">Webpage</a>]
              {% endif %}
              {% if post.youtube %}
              [<a href="{{ post.youtube }}">YouTube</a>]
              {% endif %}
              {% if post.pdf %}
              [<a href="{{ post.pdf }}">PDF</a>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
	      
        <br>
        <br>
        


        					<table style="width:100%; margin:0 auto; border:0; border-spacing:0; padding:16px;"><tbody>
            <tr>
              <td>
                <h2>Miscellanea</h2>
              </td>
            </tr>
          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            
           
            <tr>
              <td align="center" style="padding:16px;width:20%;vertical-align:middle">
						     <div class="colored-box" style="background-color: #9e72d4; border-radius: 12px; padding: 16px;">
								 <h2>Teaching Assistantships</h2>
								 </div>
              </td>
              <td style="padding:16px;width:80%;vertical-align:middle; border-radius: 12px;">
                - <strong>[Software]</strong> CMP120 / CMP220 / CMP305 / CMP320 - Programming I & II, Data Structures & Algorithms, Database Systems
                <br>
                - <strong>[Hardware]</strong>  COE242 / COE251 - Microcontrollers & Embedded Systems, Intro. to Computer Systems
                <br>
                - <strong>[Networks]</strong>  COE271 - Computer Networks I
                <br>
                - <strong>[Mathematics]</strong> MTH103 / MTH104 / MTH203 / MTH205 / MTH221 - Calculus I, II & III, Differential Equations, Linear Algebra
                
              </td>
            </tr>

	    <tr>
              <td align="center" style="padding:16px;width:20%;vertical-align:middle">
						     <div class="colored-box" style="background-color: #8634eb; border-radius: 12px; padding: 16px;">
								 <h2>Awards & Honors</h2>
								 </div>
              </td>
              <td style="padding:16px;width:80%;vertical-align:middle; border-radius: 12px;">
                - 1st place at the <a href="https://www.aus.edu/media/news/aus-inaugural-ai-city-quest-hackathon-challenges-uae-students-to-develop-smart-city-solutions-using-ai-and-blockchain"> AI-City Quest </a> Hackathon.
                <br>
		- 2nd place at the <a href="https://www.aus.edu/media/news/aus-student-teams-excel-in-planet-x-challenge"> Planet-X </a> Mars Rover Mission challenge. 
		<br>
		- Member of the <a href="https://hkn.ieee.org/"> IEEE-Eta Kappu Nu </a> Honors society
		<br>
		- Member of the AUS Engineering Honors society      

                
              </td>
            </tr>

        <hr>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a href="https://leonidk.com/">Leonid Keselman</a>'s <a href="https://github.com/leonidk/new_website">Jekyll fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>. Feel free to reach out to me on any of the socials I provided above as well.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
